@font-face {
  font-family: 'base-font';
  src: url('../../fonts/BYekan/BYekan+.ttf') format('ttf'),
       url('../../fonts/BYekan/BYekanBold.ttf') format('ttf');
  /* سایر خاصیت‌های مورد نیاز مانند font-weight و font-style */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px; /* 1rem = 10px */
    font-family: 'base-font';
}
