<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>راهنمای کامل خرید ماشین کارکرده در اصفهان | دنیا خودرو</title>
    <meta name="description" content="در این مقاله از دنیا خودرو، به مهم‌ترین نکات خرید ماشین کارکرده در اصفهان می‌پردازیم؛ از بررسی بدنه و رنگ تا وضعیت فنی و مدارک.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="page">

    {% include "core/components/header.html" %}

    <main>
        {% block content %}
        <!-- محتوای داینامیک صفحه قرار می‌گیرد -->
        {% endblock %}
    </main>
    {% include "core/components/footer.html" %}
</body>
</html>
